<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Fira+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Uchen&family=Ysabeau:wght@200;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../html/css/header.css">
<link rel="stylesheet" href="../../html/css/cart.css">
<link rel="stylesheet" href="../../html/css/order.css">
<link rel="stylesheet" href="../../html/css/footer.css">
<title>Title</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <a href="#" class="logo">
            <img src="../../image/banner/logo.jpg" alt="">
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <ul class="navbar pb-0">
            <li><a href="#home">Home</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#customer">Customer</a></li>
        </ul>

        <!-- Icon -->
        <div class="header-icon">
            <i class='bx bx-cart position-relative' ></i>
            <div class="number_product" name="number_product" aria-hidden="true"></div>
            <i class='bx bx-heart' id="heart_icon"></i>
            <!-- <i class='bx bx-search-alt-2' id="search_icon"></i> -->
            <i class="bx bx-login d-none">
                <a href="login.php" class="text-decoration-none  border border-1 px-3 py-1 rounded-3">Login</a>
            </i>
            <i class="bx bx-Signin d-none">
                <a href="viewSignUP" class="text-decoration-none  border border-1 px-3 py-1 rounded-3">Sigup</a>
            </i>
            <i class="bx user" id="usericon">
                <img class="avatar" src="../../image/avatar/user.png" alt="">
            </i>
            <div class="nav_setting hide">
                <div class="setting ">
                    <div class="set_bock_user d-flex align-items-center pb-2 mb-3 ">
                        <i class="bx user me-3" id="usericon">
                            <img class="avatar" src="../../image/avatar/user.png" alt="">
                        </i>
                        <i class='bx bx-plus' id="avatar" data-bs-toggle="modal" data-bs-target="#modalId"></i>
                        <h4 class="fs-5 fw-bold" style ="color: #b15050">Khuyên Khuyên</h4>
                    </div>
                    <div class="box-item">
                        <a href="#">Setting</a>
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <div class="box-item">
                        <a href="#">Logout</a>
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </div>
                    
                </div>
            </div>
            <!-- <i class="bx bx-login" >
                <a href="login.html"  class="text-decoration-none  px-3 py-1 rounded-3 fw-bolder">Login</a>
            </i>
            <i class="bx bx-Signin">
                <a href="viewSignUP.php" class="text-decoration-none px-3 py-1 rounded-3 fw-bolder">Sigup</a>
            </i> -->
        </div>
        
        <!-- Modal Body -->

        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Cập Nhập Ảnh Đại Diện</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body into-avatar">
                        <!-- <input type="file"  name="hinhanh"> -->
                        <input type="hidden" name="id" id="" value = "">
                        <div class=upload>
                            <img src="../../image/avatar/user.png" id="image" alt="">

                            <div class="rightRound" id="upload">
                                <input type="file" name="fileImg" id="fileImg" accept=".jpg, .jpeg, .png">
                                <i class="fa fa-solid fa-camera"></i>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button  class="btn" name="save-avatar">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        
        
    </header>

    <!-- Home -->
    <section  id="order_session">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="order_left_info col-md-3 text-black container">
                    <div class="Home_Info active">
                        <h6>
                            <span> 
                                <a href="home.html" class="text-decoration-none" style="color: #7d6445;"></span><i class="fa-solid fa-house"></i> Home</a>
                            </span>
                            <span>
                                <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#808089" fill-rule="evenodd" clip-rule="evenodd" d="M0.646447 0.646447C0.841709 0.451184 1.15829 0.451184 1.35355 0.646447L6.35355 5.64645C6.54882 5.84171 6.54882 6.15829 6.35355 6.35355L1.35355 11.3536C1.15829 11.5488 0.841709 11.5488 0.646447 11.3536C0.451184 11.1583 0.451184 10.8417 0.646447 10.6464L5.29289 6L0.646447 1.35355C0.451184 1.15829 0.451184 0.841709 0.646447 0.646447Z"></path>
                                </svg>
                            </span>
                            <span>
                                <!-- <span class="px-2"><i class="fa-solid fa-user"></i></span> -->
                                Account Information
                            </span>
                        </h6>
                    </div>
                    <div class="Home_Info">
                        <span><i class="fa-solid fa-user"></i></span>
                        <span>Your account</span>
                    </div>
                    <div class="Home_Info">
                        <span><i class="fa-solid fa-truck-fast"></i></span>
                        <span>Order Delivered</span>
                    </div>
                    <div class="Home_Info">
                        <span>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z"></path>
                            </svg>
                        </span>
                        <span>Orders Purchased</span>
                    </div>
                    
                    <div class="Home_Info">
                        <span><i class="fa-solid fa-tags"></i></span>
                        <span>Discount code</span>
                    </div>
                </div>
                <div class="cart_01 col-md-9">
                    <div class="container">
                        <div class="row ">
                            <h5>Your Orders</h5>    
                        </div> 
                        <div class="text-black w-100 h-100 bg-white mb-3" >
                            <div class="text-center">
                                <div class="d-flex justify-content-between my-3 border-bottom">
                                    <div class="menu_order_page under_menu">
                                        <button class="btn_order_page">Account Info</button>
                                    </div>
                                    <div class="menu_order_page ">
                                        <button class="btn_order_page ">Orders are being delivered</button>
                                    </div>
                                    <div class="menu_order_page">
                                        <button class="btn_order_page ">Order Delivered</button>
                                    </div>
                                    <div class="menu_order_page ">
                                        <button class="btn_order_page">Canceled Order</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- under_menu -->
                        <section class="account_info">
                            <div class="row">
                                <div class="col-lg-7 border-end pe-5">
                                    <div class="row">
                                        <div class="col-lg-3 d-flex justify-content-start">
                                            <div class="">
                                                <input type="hidden" name="id" id="" value = "">
                                                <div class="upload upload_seting">
                                                    <img src="../../image/avatar/user.png" id="image_setting" alt="">
        
                                                    <div class="rightRound rightRound_setting" id="upload">
                                                        <i class="fa fa-solid fa-camera"  data-bs-toggle="modal" data-bs-target="#modalId"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="account_info_setting  w-100">
                                                <div class="d-flex justify-content-between w-100">
                                                    <label for="" class="fw-bold">Username</label>
                                                    <input type="text" name="" id="" value="Khuyên">
                                                </div>
                                                <div class="d-flex justify-content-between w-100">
                                                    <label class="fw-bold" for="">Adress</label>
                                                    <input type="text" name="" id="" value="Khuyên">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gender_setting d-flex justify-content-between p-3" style="color: #7d6445;">
                                        <div>
                                            <label for="" class="fw-bold">Gender</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="gender" id="gender" value="male">
                                            <label for="">Male</label>
                                            <input type="radio" name="gender" id="" value="female">
                                            <label for="">Female</label>
                                            <input type="radio" name="gender" id="" value="other">
                                            <label for="">Other</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between w-100">
                                        <label for="" style="color: #7d6445; font-weight: bold;"> Nationality</label>
                                        <input type="text" class=" border p-1 rounded-3" name="" id="" value="Khuyên" style="width: 240px;">
                                    </div>
                                    <div class="Setting_Save_Btn w-100">
                                        <button type="submit" name="setting_save_btn">Save Changes</button>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <h6 class="fw-bold py-2" style="color: #b15050;">Phone Number And E-mail</h6>
                                    <div class="account_info_setting w-100">
                                        <div class="d-flex justify-content-between w-100">
                                            <label for="" class="fw-bold"><i class="fa-regular fa-envelope"></i> E-mail</label>
                                            <input type="text" name="" id="" value="Khuyên">
                                        </div>
                                        <div class="d-flex justify-content-between w-100">
                                            <label class="fw-bold" for=""><i class="fa-solid fa-phone"></i> Phone </label>
                                            <input type="text" name="" id="" value="Khuyên">
                                        </div>
                                    </div>
                                    <h6 class="fw-bold py-2" style="color: #b15050;"><i class="fa-solid fa-lock pe-1"></i>Confidentiality</h6>
                                    <div class="account_info_setting  w-100">
                                        <div class="d-flex justify-content-between w-100">
                                            <label for="" class="fw-bold"> Old password</label>
                                            <input type="text" name="" id="" value="Khuyên">
                                        </div>
                                        <div class="d-flex justify-content-between w-100">
                                            <label class="fw-bold" for=""> New Password</label>
                                            <input type="text" name="" id="" value="Khuyên">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Start Order_is_being_delivered -->
                        <section class="Order_is_being_delivered d-none">
                            <div class="order_success my-3">
                                <div class="success_product px-3">
                                    <div class="border-bottom d-inline-block  px-2 mb-2 rounded-3">
                                        <div class="d-flex align-items-center">
                                            <span class="mx-2 fs-6"><i class="fa-solid fa-truck"></i></span>
                                            <h6 class="fw-bold">Đang Giao Hàng</h6>
                                        </div>
                                    </div>
                                    <div class="product_order_items d-flex align-items-center justify-content-between pt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="order_img_product">
                                                <img class="w-100" src="../../image/product/Banana Black Forest Cake.jpg" alt="">
                                            </div>
                                            <div class="order_product_name ms-3">
                                                <span class="name fw-bold">Banana Black Forest Cake</span> <br>
                                                <span class=" ps-3" style="font-size: 10px;">
                                                    <i class="fa-solid fa-shop " style="font-size: 10px;"></i> 
                                                    Shop Mery Cake
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="" style="color: #b15050; font-weight: 550;"> 
                                                <label for="">$200.00</label>
                                                <label for="">x</label>
                                                <label for="">2</label>
                                            </span>
                                        </div>
                                        <div class="product_money_item pe-3">
                                            <h6 class="fw-bold">$200.00</h6>
                                        </div>
                                    </div>
                                    <div class="total_money_order">
                                        <div>
                                            <span class="" style="color: #b15050;">Đơn Hàng Chưa Thanh Toán</span>
                                        </div>
                                        <div class="money_primary d-flex align-items-center">
                                            <h6 class="fw-bold me-3" style="color: rgb(125, 100, 69,0.7);">Total Money :</h6>
                                            <span>$600.00</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </section>

                         <!-- start Order has been delivered-->
                        <section class="Order_has_been_delivered d-none">
                            <div class="order_success my-3">
                                <div class="success_product px-3">
                                    <div class="border-bottom d-inline-block  px-2 mb-2 rounded-3">
                                        <div class="d-flex align-items-center">
                                            <span class="mx-2 fs-6"><i class="fa-solid fa-truck"></i></span>
                                            <h6 class="fw-bold">Successful Delivery</h6>
                                        </div>
                                    </div>
                                    <div class="product_order_items d-flex align-items-center justify-content-between pt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="order_img_product">
                                                <img class="w-100" src="../../image/product/Banana Black Forest Cake.jpg" alt="">
                                            </div>
                                            <div class="order_product_name ms-3">
                                                <span class="name fw-bold">Banana Black Forest Cake</span> <br>
                                                <span class=" ps-3" style="font-size: 10px;">
                                                    <i class="fa-solid fa-shop " style="font-size: 10px;"></i> 
                                                    Shop Mery Cake
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="" style="color: #b15050; font-weight: 550;"> 
                                                <label for="">$200.00</label>
                                                <label for="">x</label>
                                                <label for="">2</label>
                                            </span>
                                        </div>
                                        <div class="product_money_item pe-3">
                                            <h6 class="fw-bold">$200.00</h6>
                                        </div>
                                    </div>
                                    <div class="total_money_order pt-2">
                                        <div class="d-flex align-items-center">
                                            <span class="">
                                                <label>Order Paid</label>
                                            </span>
                                            <span>
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#see_detail">See detail</button>
                                            </span>
                                            <span>
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#comment_product_order">Comment</button>
                                            </span>
                                        </div>
                                        <div class="money_primary d-flex align-items-center">
                                            <h6 class="fw-bold me-3" style="color: rgb(125, 100, 69,0.7);">Total Money :</h6>
                                            <span>$600.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="see_detail_order">                         
                                <!-- Modal Body -->
                                <div class="modal fade" id="see_detail" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                    <div class="modal_see_detail_order modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title d-flex align-items-center" style="color: #7d6445;" id="modalTitleId">
                                                    <span class="mx-2 fs-6"><i class="fa-solid fa-truck"></i></span>
                                                    <span class="fw-bold">Order Delivered</span>
                                                    <span></span>
                                                </h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <!-- Body -->
                                            <div class="modal-body">
                                                <div class="info_user_order">
                                                    <h5 class="tittle_order">Customer information</h5>
                                                    <div class="input_info_user_order ps-3">
                                                        <div class="order_info_parent d-flex">
                                                            <div class="permanent_info_child">
                                                                <span for="" class="permanent_info_01">Username </span>
                                                            </div>
                                                            <span>: Đào Thị Khuyên </span>
                                                        </div>
                                                        <div class="order_info_parent d-flex">
                                                            <div class="permanent_info_child">
                                                                <span for="" class="permanent_info_01">Phone Number(+84) </span>
                                                            </div>
                                                            <span>: 0834006551 </span>
                                                        </div>
                                                        <div class="order_info_parent d-flex">
                                                            <div class="permanent_info_child">
                                                                <span for="" class="permanent_info_01">Adress </span>
                                                            </div>
                                                            <span>: Tam Kỳ, Quảng Nam </span>
                                                        </div>
                                                    </div>
                                                </div>
                                               <div class="order_success order_success_child">
                                                    <h5 class="tittle_order">Order Information</h5>
                                                    <div class="day px-3 border-bottom pb-4">
                                                        <div class="pb-2">
                                                            <label for="" class="fw-bold">Form of Payment:</label>
                                                            <label for="">Cash payment</label>
                                                        </div>
                                                        <div class=" d-flex justify-content-between pb-2">
                                                            <div class="order_date">
                                                                <label for="" class="fw-bold">Date Of Order: </label>
                                                                <label for="">31-07-2004</label>
                                                            </div>
                                                            <div class="Delivery_day">
                                                                <label for="" class="fw-bold">Delivery Day: </label>
                                                                <label for="">31-07-2004</label>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <div class="Purchase_Order fw-bold" >
                                                                <div class="d-flex">
                                                                    <h6><i class="fa-solid fa-bag-shopping"></i></h6>
                                                                    <h6 class="fw-bold ms-1" >Purchase Order</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="success_product px-3 mt-4">
                                                        
                                                        <div class="product_order_items d-flex align-items-center justify-content-between pt-2">
                                                            <div class="d-flex align-items-center">
                                                                <div class="order_img_product">
                                                                    <img class="w-100" src="../../image/product/Banana Black Forest Cake.jpg" alt="">
                                                                </div>
                                                                <div class="order_product_name ms-3">
                                                                    <span class="name fw-bold">Banana Black Forest Cake</span> <br>
                                                                    <span class=" ps-3" style="font-size: 10px;">
                                                                        <i class="fa-solid fa-shop " style="font-size: 10px;"></i> 
                                                                        Shop Mery Cake
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <span class="" style="color: #b15050; font-weight: 550;"> 
                                                                    <label for="">$200.00</label>
                                                                    <label for="">x</label>
                                                                    <label for="">2</label>
                                                                </span>
                                                            </div>
                                                            <div class="product_money_item pe-3">
                                                                <h6 class="fw-bold">$200.00</h6>
                                                            </div>
                                                        </div>
                                                        <div class="total_money_order">
                                                            <div>
                                                                <span class="" style="color: #b15050;">Order Paid</span>
                                                            </div>
                                                            <div class="money_primary d-flex align-items-center">
                                                                <h6 class="fw-bold me-3" style="color: rgb(125, 100, 69,0.7);">Total Money :</h6>
                                                                <span>$600.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_product">
                                <div class="modal fade" id="comment_product_order" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                    <div class="mode_comment_product modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalTitleId">Product Comments</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body ">
                                                <div class="row ">
                                                    <input type="hidden" name="" id=""  value = "php">
                                                    <div class="upload_comment_product_parent d-flex">
                                                        <div class="position-relative" style="width: 130px;">
                                                            <div class="img_comment_child"  id="upload_img_comment_child">
                                                                <input type="file" name="fileImg_comment" id="fileImg_comment" accept=".jpg, .jpeg, .png">
                                                                <label for="">Choose File</label>
                                                            </div>
                                                        </div>
                                                        <div class="" style="float: right;">
                                                            <img src="../../image/product/Black Forest cherry cake.jpg" id="image_order" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label  for="colFormLabelSm" class="mode_comment_product_01 col-sm-3 col-form-label col-form-label-sm">Content</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="w-100 border rounded-3" name="" id="" cols="30" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn" name="Change_infomation">Comment</button>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Canceled Order -->
                        <section class="Order_is_being_delivered d-none">
                            <div class="order_success my-3">
                                <div class="success_product px-3">
                                    <div class="border-bottom d-inline-block  px-2 mb-2 rounded-3">
                                        <div class="d-flex align-items-center">
                                            <span class="mx-2 fs-6"><i class="fa-solid fa-truck"></i></span>
                                            <h6 class="fw-bold">Canceled Order</h6>
                                        </div>
                                    </div>
                                    <div class="product_order_items d-flex align-items-center justify-content-between pt-2">
                                        <div class="d-flex align-items-center">
                                            <div class="order_img_product">
                                                <img class="w-100" src="../../image/product/Banana Black Forest Cake.jpg" alt="">
                                            </div>
                                            <div class="order_product_name ms-3">
                                                <span class="name fw-bold">Banana Black Forest Cake</span> <br>
                                                <span class=" ps-3" style="font-size: 10px;">
                                                    <i class="fa-solid fa-shop " style="font-size: 10px;"></i> 
                                                    Shop Mery Cake
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="" style="color: #b15050; font-weight: 550;"> 
                                                <label for="">$200.00</label>
                                                <label for="">x</label>
                                                <label for="">2</label>
                                            </span>
                                        </div>
                                        <div class="product_money_item pe-3">
                                            <h6 class="fw-bold">$200.00</h6>
                                        </div>
                                    </div>
                                    <div class="total_money_order">
                                        <div>
                                            <span class="" style="color: #b15050;">Canceled Order</span>
                                        </div>
                                        <div class="money_primary ">
                                            <div class="d-flex align-items-center">
                                                <h6 class="fw-bold me-3" style="color: rgb(125, 100, 69,0.7);">Shipping fee :</h6>
                                                <span>$0.00</span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <h6 class="fw-bold me-3" style="color: rgb(125, 100, 69,0.7);">Total Money :</h6>
                                                <span>$600.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

<footer class="container-fluid">
    <div class="row footer_row">
        <div class="contact col-lg-3 col-md-6 col-sm-6 col-xs-6 d-inline-flex justify-content-center">
            
            <ul class="footer_ul">
                <h5>CONTACT</h5>
                <li>132,Sidcup Lane</li>
                <li>PS15 MA12,Bromley</li>
                <li>London, UK</li>
                <li>wwwww.yotubewwebsite.com</li>
                <li>000 123 456 7890</li>
            </ul>
        </div>
        <div class="Useful_link col-lg-3 col-md-6 col-sm-6 col-xs-6 d-inline-flex justify-content-center ">
            
            <ul class="footer_ul">
                <h5>Blog</h5>
                <li>46 An Cu, Da Nabg</li>
                <li>Sales</li>
                <li>Tickets</li>
                <li>Cenrtifications</li>
                <li>Minhnt.22itb@vku.udn.vn </li>
            </ul>
        </div>
        <div class="Recent_Post col-lg-3 col-md-6 col-sm-6 col-xs-6 d-inline-flex justify-content-center">
            
            <ul class="footer_ul">
                <h5>RECENT POST</h5>
                <li>Tam Ky,Quang Nam</li>
                <li>Phan Boi Chau</li>
                <li>London, UK</li>
                <li>Khuyendt.22itb@vku.udn.vn</li>
                <li>000 123 456 7890</li>
            </ul>
        </div>
        <div class="Newsleter col-lg-3 col-md-6 col-sm-6 col-xs-6 d-inline-flex justify-content-center">
            <div class="d-block">
                <h5>NEWSLWTER</h5>
                <div class="send">
                    <input style="width: 140px;" class="border-0 p-2 " type="text" name="" id="" placeholder="Content ...">
                    <input class="buttom border-0 p-2 px-4 mt-sm-2" type="submit" name="" id="" value="Send">
                </div>
                <div class="icon">
                    <div class="row_icon">
                        <p class="rounded-2" ><i class='bx bxl-facebook'></i></p>
                        <p class="rounded-2"><i class='bx bxl-instagram'></i></p>
                        <p class="rounded-2"><i class='bx bxl-twitter'></i></p>
                        <p class="rounded-2"><i class='bx bxl-tiktok'></i></p>
                        <p class="rounded-2"><i class='bx bxl-youtube' ></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo_row pb-5 ">
        <div class="image ">
            <img src="../../image/banner/logo.jpg" alt="">
        </div>
        <p>Chúc một ngày tốt lành</p>
    </div>

</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../html/js/header.js"></script>
    <script src="../../html/js/cart.js"></script>
    <script src="../../html/js/order.js"></script>
</body>
</html>