<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">

<link rel="stylesheet" href="../../../html/css/register_admin_css.css">
<title>Title</title>
</head>
<body>
    <form action="">
        <div class="form_admin">
            <div class="container">
                <div class="form_register_admin">
                    <h4>Register To Sell</h4>
                    <h6>Wishing you success in your career</h6>
                    <div class="d-flex">
                        <div class="form_01">
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="text" name="username" id="" placeholder="Username">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="email" name="e-mail" id="" placeholder="E-mail">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="text" name="phone" id="" placeholder="Phone Number">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="text" name="adress" id="" placeholder="Business Location">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="content mb-2">
                                <span style="color:  hsl(24,53%,38%);">You want to login?</span>
                                <a href="login.php">Login</a>
                            </div>
                        </div>
                        <div class="form_02">
                            <div class="form_control" style="margin-top: 20px;">
                                <select name="bank" id="" class="bank w-100">
                                    <option value="BIDV">BIDV</option>
                                    <option value="MB">MB</option>
                                    <option value="Agribank">Agribank</option>
                                </select>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="text" name="Bank_numbers" id="" placeholder="Bank account numbers">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="password" name="password" id="" placeholder="Password">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="form_control" style="margin-top: 20px;">
                                <input type="password" name="confirm_pasword" id="" placeholder="Confirm Pasword">
                                <span></span>
                                <small class="Error"></small>
                            </div>
                            <div class="button">
                                <button type="submit" name="register">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>